body {
    width: 1200px;

    margin: auto ;
    padding: 0;


    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;

    color: #000000;
    text-transform: uppercase;
    text-align: center;

    background-color: #ffffff;
    background-image:url("../img/background.jpg");
    background-size: 1200px auto;
    background-position:top -27px center;
    background-repeat: no-repeat;
    background-color: #f2f2f2;
    box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
}

/* для изображений */
img{
    max-width: 1200px;
    height: auto;
}

.visually_hidden:not(:focus):not(:active),
input[type="checkbox"].visually_hidden,
input[type="radio"].visually_hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* меню */
/* хедер уже является блоком, флексом */
.main_header{
/* стили для текста */
    margin: 0 auto;
    padding: 0;

    font-size: 16px;
    line-height: 26px;

    margin-bottom: 451px;

    /* */
}
.main_navigation{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: white;
    padding: 0 72px;
}
.site_navigation{
    margin: 0;
    padding: 0;

    list-style: none;
    background:white;
    display: flex;
    flex-wrap: wrap;
}

.site_navigation li{width:240px;}
/* добавляем псевдоэлементом welcome */
.main .main_navigation::after{
    content: "";
    position: absolute;

    top: 132px;
    left: 371px;
    width: 459px;
    height: 353px;

    background-image: url("../img/welcome.svg");
}
/* для ссылок в навигации */
.site_navigation a{
    display: block;

    margin: 0;
    padding: 15px 0;

    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    text-decoration: none;
  }

.site_navigation.right li:nth-of-type(1){  text-align: right;}
.site_navigation.right li:nth-of-type(2){  text-align: right;}
.site_navigation.left li:nth-of-type(1){  text-align: left;}
.site_navigation.left li:nth-of-type(2){  text-align: left;}


  /* фокус */
.site_navigation a:hover{ color: #81b3d2;}
.site_navigation a:focus{ color: rgba(0, 0, 0, 0.3);}
.site_navigation a.check{ color: #766357;}

 .main_header_logo a{
    position: absolute;
    content: "";
    left:480px;
    margin: 0;
    padding: 0;
    width: 240px;
}
/*  контейнер для мейн*/
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
}
/*  вступление о седоне*/
.introduction_flex {
/* задаем флекс по коллоннам*/
    display: flex;
    flex-direction: column;
    /*  обнуляем отступы*/
    margin: 0;
    padding: 0;
    /*  маска*/
    background:  url("../img/polygon.svg") no-repeat;
    background-position: top top;
    background-size: auto;
}
.introduction_flex_block{
    background-color: white;
    margin-top: 56px;
}
/*  стили для заголовка вступление*/
.introduction_flex h3{
    font-size: 21px;
    line-height: 1.24;
    margin: 0;

    text-align: center;
    padding-top: 61px;
    margin-left: 380px;
    margin-right: 380px;
}
/*  стили для p вступление*/
.introduction_flex p{
    margin: 0;
    padding: 0;

    line-height: 1.86;
    margin-top:  28px;
    margin-bottom: 51px;
}
/*  разделили на блоки*/
/*  для 1го пункта*/
/*  флекс для всех причин*/
.reasons_item{
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: space-between;
}

/*  для 3х пунктов*/
.features_list{
    display: flex;

    margin: 0;
    padding: 0;

    list-style: none;
}
/*  для трех значков*/
.feature_item{
    margin: 0;
    padding: 0;

    padding-top: 60px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 400px;
}
.reasons_item_features{  background-color: white;}
.feature_item:nth-of-type(1) p{  padding: 0 50px;}
.feature_item:nth-of-type(2) p{  padding: 0 50px;}
.feature_item:nth-of-type(3) p{  padding: 0 40px;}

.feature_item h3{
    margin: 0;
    padding: 0;
    font-size: 21px;
    line-height: 21px;
    margin-top: 29px;
    margin-bottom: 21px;
}
.feature_item p{
    margin: 0;
    padding: 0;
    line-height: 1.5;
    margin-bottom: 83px;
}
.flex_text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 400px;
}
/* загадовок в синем блоке */
.flex_text h3{
    margin: 0;
    padding: 0;

    font-size: 21px;
    line-height: 21px;
}
.flex_text p{
    margin: 0;
    padding: 0;
    line-height: 1.5;
}
.icon{display: inline-block;vertical-align: top;}
.icon_food{
    background: url("../img/icon_mac.svg") no-repeat;
    width: 74px;
    height: 70px;
}
.icon_home{
    background: url("../img/icon_home.svg") no-repeat;
    width: 75px;
    height: 72px;
}
.icon_souvenir{
    background: url("../img/icon_present.svg") no-repeat;
    width: 64px;
    height: 76px;
}
/* голубой блок */
.flex_text_blue{
    color:white;
    padding-top: 48px;
    padding-bottom: 60px;
    background-color: #81b3d2;
}
/* перевернули фото с мостом */
.reasons_item_bridge{  flex-direction: row-reverse;}
.reasons_item_bridge p{  margin-left: 48px; margin-right: 48px;}
.reasons_item_bridge h3{ margin-left: 124px; margin-right: 125px;}

.flex_text_blue_img  {margin-bottom: -7px;}

.flex_text_gray{
    min-height: 256px;
    background-color: #eeeeee;
}
/* выоавнивание загаловков в серых блоках */
.reasons_item_square h3{  padding: 0 100px;}
.reasons_item_road h3{  padding: 0 120px;}
.reasons_item_tourist h3{ padding: 0 120px;}
/* выоавнивание p в серых блоках */
.reasons_item_square p{ padding: 0 75px;}
.reasons_item_road p{ padding: 0 65px;}
.reasons_item_tourist p{  padding: 0 75px;}

.flex_text_gray h3{  padding-top: 47px;}
.flex_text_gray p{  padding-bottom: 61px;}
/*для отступоа у серых загалоаков */

.search_flex{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 50px;
    background-color: white;
}
.search_flex h3{
    font-size: 30px;
    line-height: 36px;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}
.search_flex p{  margin-bottom: 47px;}

.modal_map{
    display: flex;
    justify-content: center;

    background-image: url('../img/map.jpg');
    width: 1200px;
    height: 594px;
}
/*  коричневая кнопка*/
.button_search_interactive{
    margin: auto;
    padding: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 568px;

    font-size: 21px;
    line-height: 26px;

    background-color: #766357;
    border: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: -1.5px;
}
/* наведение */
.button_search_interactive:hover{  background-color: #604e43;}
/*  щелчек */
.button_search_interactive:active{  background-color:#503e33;color:rgba(255, 255, 255, 0.3);}
/* для модалки */
.modal {
    position:absolute;
    content: "";

    background-color: white;
}
.modal_search{
    left:50%;
    margin-left: -285px;
    width: 458px;
    padding: 55px;
}
.search_form{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: bold;
    line-height: 26px;
    text-transform: uppercase;
    background-color: white;
}
.search_form_block{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search_form .button_search{
    padding: 16px 0;
    margin-top: 23px;
    width: 460px;

    border: none;
    background-color: #81b3d2;

    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    color: white;
    text-transform: uppercase;
}
.search_form .button_search:hover{  background-color: #669ec0;}
.search_form .button_search:active{  background-color:#5496bd;color:rgba(255, 255, 255, 0.3);}

.search_form p {
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}
.search_form input[type="text"]{
    margin: 0;
    padding: 6px 12px;

    box-sizing: border-box;
    width: 346px;
    height: 38px;

    font-size: 14px;

    font-weight: bold;
    color: black;
    text-transform: uppercase;

    background-color: #f2f2f2;
    border: none;
}
.data_arrival{  position: relative;}
.data_departure{  position: relative;}
.data_arrival input{outline:none;}
.data_arrival input:hover{  background-color: #ebebeb;}
.data_arrival input:focus{  background-color: white;border: 2px solid  #ebebeb;}
.data_departure input{outline:none;}
.data_departure input:hover{  background-color: #ebebeb;}
.data_departure input:focus{  background-color: white;border: 2px solid  #ebebeb}


.icon_cal{
    position: absolute;
    content: "";
    width: 21px;
    height: 22px;
    fill:#cacaca;
    left:430px;
}

.icon_cal:hover{  fill:black;}
.icon_cal:active{  fill:#81b3d2;}

.amount_people{
    display: flex;
    align-items: center;
}
.amount_people input[type="text"]{
    width: 38px;
    height: 38;
    text-align: center;
}
.adult label{  margin-right: 41px;}
.children label{  margin-right: 27px;}

.amount_people span{
    display:inline-block;
    vertical-align: top;
    width:38px;
    height:38px;
    font-size: 0;
    background-color: #f2f2f2;
}
.amount{  cursor: pointer;}
.amount.minus{  position: relative;}
.amount.plus{  position: relative;}

.amount::after{
    position: absolute;
    content: "";
    width: 12px;
    height: 3px;
    background-color: #a9a9a9;
    z-index: 3;
    top:50%;
    margin-top: -1px;
    left:50%;
    margin-left: -6px;
}
.amount.plus::before{
    position: absolute;
    content: "";
    width: 12px;
    height: 3px;
    background-color: #a9a9a9;
    z-index: 3;
    transform: rotate(90deg);
    top:50%;
    margin-top: -1px;
    left:50%;
    margin-left: -6px;
  }

.amount:hover::after{  background-color: black;}
.amount.plus:hover::before{  background-color: black;}
.amount:active::after{  background-color: #81b3d2;}
.amount.plus:active::before{  background-color: #81b3d2;}

.main_footer{
    display: flex;
    justify-content: space-between;

    align-items: center;

    margin-top: -121px;
    min-height: 120px;
    background-color: white;
    opacity: 0.8;
    background-color: white;
}
.hotels_body .main_footer{  opacity:1;}

.footer_hashtag{
    margin: 0;
    padding: 0;
    margin-top: -1px;

    font-size: 21px;
    line-height: 1.24;
    font-weight: bold;
    margin-left: 132px;
}
.social_button {
    display: inline-block;
    vertical-align: top;

    width: 46px;
    height: 48px;

    margin-right:2px;
    margin-top: 2px;
}
.footer_social{  padding-left: 30px;}

  /*  */
.social_button_fb{
    background: #81b3d2 url("../img/icon_fb.svg") no-repeat;
    background-position: 17px 13px;
}
.social_button_tw{  background: #81b3d2;position: relative;}

.icon_tw_tw{
    position: absolute;
    content: "";
    fill:white;
    width: 20px;
    height: 20px;
    top:15px;
    left:14px;

}
.social_button_youtube{  background: #81b3d2; position: relative;}

.icon_youtube_youtube{
    position: absolute;
    content: "";
    fill:white;
    width: 20px;
    height: 20px;
    top:13px;
    left:14px;
}
.social_button:hover{  background-color:#669ec0;}
.social_button:active{  background-color:#5496bd;}
.social_button:active .icon_youtube_youtube{  opacity: 0.3;}
.social_button:active .icon_tw_tw{  opacity: 0.3;}

.social_button_fb:active{
     background: #5496bd url("../img/icon_fb_opacity.svg") no-repeat;
     background-position: 17px 13px;
}

.footer_copyright{
    margin: 0;
    padding: 0;
    margin-right: 222px;

    display: flex;
    align-items: center;
}
.html_academy{  position: relative;}
.icon_html_html{
  position: absolute;
  content: "";

  width: 115px;
  height: 41px;

  left: 8px;
  top:-20px;;
}
.html_academy:hover{fill:#81b3d2;}
.html_academy:active{fill:#bdbbbc;}
/* _____________________________________ */
/* +++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++ */
/* _____________________________________ */
.hotels_body{
    min-width: 1200px;

    margin: 0 auto;
    padding: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;

    color: #000000;
    text-transform: uppercase;
    text-align: center;

    background-color: #f2f2f2;
}
.hotels_body .main_header{  margin: 0;}

.filter_hotels{
    display: flex;
    padding-left:72px;

    background-image:url("../img/hotels_background.jpg");
    background-position:top -273px center;
    background-repeat: no-repeat;
}
.filter_option_infrastructure{  margin-right: 114px;}

.filter_hotels h3{
    margin: 0;
    padding: 0;
    margin-bottom: 24px;
    margin-top: 27px;

    color:white;
    font-size: 16px;
    font-weight: bold;
    line-height: 21px;
    letter-spacing: 0.3px;
}
.filter_option label{
    margin: 0;
    padding: 0;
    color:white;
    font-size: 14px;
    line-height: 21px;
}
.filter_hotels ul{
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}
.filter_option {
    margin: 0;
    padding: 0;
    margin-bottom: 22px;
    margin-left: 40px;

    position: relative;

    list-style: none;
    text-align: left;
}
.filter_input_checkbox + label::before {
    content: "";
    position: absolute;

    width: 19px;
    height: 19px;
    left: -40px;

    border-radius: 13%;
    border: 2px solid #ffffff;
}
.filter_input_checkbox:checked + label::before {
    content: "";
    position: absolute;

    width: 19px;
    height: 19px;
    left: -40px;

    border: none;
}
.filter_input_checkbox:checked + label::after {
    content: "";
    position: absolute;
    z-index: 10;

    width: 26px;
    height: 27px;
    left: -40px;

    border:none;
    background-image: url("../img/checkbox_on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
/* для заблокированных */
.filter_input_checkbox:disabled + label::after{  background-image: url("../img/checkbox_on_dis.svg");;}
.filter_input_checkbox:disabled + label::before{  border-color:  #6a6a6a;}
/* начало для сортировки */
.catalog{
    display: flex;
    background-color: white;
    width: 1200px;
}
/*  для списка отелей*/
.catalog_list{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 1200px;
}
/* для каждого пункта */
.catalog_item{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0 72px;
    padding-top: 30px;
    padding-bottom: 25px;
}
/*  правая часть*/
.catalog_item_about{  display: flex;}
/*  для звезд чтоб прижались*/
.catalog_item_rating{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}
.rating{
    margin: 0;
    padding: 0;
    padding: 3px 14px;

    color:#666666;
    font-size: 14px;
    line-height: 21px;

    background-color: #f2f2f2;
}
.catalog_item_rating p{  margin-bottom: 4px;}
/* чтобы текст выровнять */
.catalog_item_text{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items:flex-start;

    margin-left: 30px;
}
/*  параметры*/
.catalog_item_text h3{
    margin: 0;
    padding: 0;

    font-size: 21px;
    line-height: 26px;
    margin-bottom: 9px;
    margin-top: -6px;
    letter-spacing: 0.1px;
}
.catalog_item_text h3:hover{  color: #81b3d2; cursor: pointer;}
.catalog_item_text h3:active{ color: rgba(0, 0, 0, 0.3);}
.catalog_item_text p{
    margin: 0;
    padding: 0;

    font-size: 14px;
    line-height: 21px;
}
.catalog_item_about p{
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 21px;
}
.catalog_item span{
    margin: 0;
    padding: 0;

    font-size: 14px;
    line-height: 21px;
}
.catalog_item_text p:nth-of-type(2){  padding-top: 16px;}
/* кнопки */
.button_info{
    margin: 0;
    padding: 0 17px;
    padding-top: 4px;
    padding-bottom: 5px;
    margin-right: 2px;

    width: 110px;
    background-color: #81b3d2;
    font-weight: bold;
    color:white;
    text-decoration: none;
}
.button_book{
    padding: 0 17px;
    padding-top: 4px;
    padding-bottom: 5px;
    width: 142px;

    background-color: #766357;
    color:white;
    text-decoration: none;
    font-weight: bold;
}
.button_info:hover{  background-color: #669ec0;}
.button_book:hover{  background-color: #604e43;}
.button_info:active{  background-color: #5496bd;color:rgba(255, 255, 255, 0.3);}
.button_book:active{  background-color: #503e33;color:rgba(255, 255, 255, 0.3);;}
.catalog_item{  border-bottom: 1px solid rgba(0, 1, 1, 0.2);}
.catalog{  margin-bottom: 120px;}

.catalog_item:nth-child(1) span{  margin-left: 35px;}
.catalog_item:nth-child(2) span{  margin-left: 60px;}
.catalog_item:nth-child(3) span{  margin-left: 18px;}

.button_star{
    position: relative;

    padding: 0;
    width: 18px;
    height: 17px;
    margin-left: 2px;

    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;

    fill:#81b3d2;
 }
 .icon_star{
    position: absolute;
    content:"";

    top:-1px;
    right:0px;
    width: 18px;
    height: 17px;

    cursor: pointer;
 }
.sort{
    display: flex;
    justify-content: space-between;

    background-color: white;
    border-bottom: 1px solid #c7c7c7;
    font-weight: bold;
}
.sort_left{  display: flex;}

.sort h3{
    margin: 0;
    padding: 0;
    margin-top: 29px;
    margin-left: 72px;
    margin-bottom: 31px;

    font-size: 21px;
    line-height: 26px;
}
.sort p{
    margin: 0;
    padding: 0;
    margin-top: 36px;
    margin-left: 48px;

    font-size: 12px;
    line-height: 18px;
}
.sort_right{  margin-right: 96px;}

.sort_icon{
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    position: relative;
 }

.icon_up{
    position: absolute;
    content:"";
    right:-27px;
    top:22px;
    width:11px;
    height:10px;
    margin-left: 10px;
    fill:#81b3d2;
}
.icon_down{
    position: absolute;
    content:"";
    top:22px;
    right:0;
    width:11px;
    height:10px;
    fill:#cacaca;
}
.sort_icon:hover .icon_up{  fill:black;}
.sort_icon:hover .icon_down{  fill:black;}
.sort_icon:focus .icon_up{  fill:#81b3d2;}
.sort_icon:focus .icon_down{  fill:#81b3d2;}

.sort_list{
    margin: 0;
    padding: 0;
    margin-top: 36px;
    margin-left: 40px;

    list-style: none;
    font-size: 12px;
    line-height: 18px;


    font-weight: bold;

    display: flex;
    flex-direction: row;
}
.sort_list li{  margin-right: 33px;}
.sort_list .chek{  color:#81b3d2;text-decoration: none;}

.sort_list a{
    color:rgba(0, 0, 0, 0.3);
    text-decoration-style: dotted;
    text-decoration-color: #81b3d2;
}
  .sort_list a:focus{  color:#000000;text-decoration: none;}
/*  для сотрировки*/
.filter_range {
    width: 318px;
    margin-left: 349px;

    color: #ffffff;
    text-transform: uppercase;
}

.filter_range_title{
    margin: 0;
    padding: 0;

    text-align: left;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.3px;
}

.price_controls{
    position: relative;
    margin-top: -13px;
    height: 32px;
    margin-bottom: 20px;
    font-size: 0;

    border: 2px solid #ffffff;
    border-radius: 2px;
}

.price_controls::after{
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;

    width: 2px;
    height: 22px;

    background: #ffffff;
    transform: translate(-50%, -50%);
}

.price_controls label{
    display: inline-block;
    cursor: pointer;

    font-size: 14px;
    line-height: 21px;
    vertical-align: center;
}
.price_controls{  display: flex; justify-content: space-between;}

.price_controls .min_price{
    padding-top: 4px;
    padding-left: 54px;

    width: 90px;
}
.price_controls .max_price{
    padding-top: 5px;
    padding-right: 21px;

    width: 90px;
}
.price_controls input{
    width: 50px;
    margin: 0;

    color: inherit;
    font: inherit;

    background: none;
    border: none;
}

.range_controls{
    position: relative;
    margin-bottom: 30px;
}

.range_controls .scale{
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}

.range_controls .bar{
    width: 80%;
    height: 2px;
    margin-top:-2px;
    background: #fff;
}

.range_toggle{
    position: absolute;
    top: -9px;

    width: 4px;
    height: 4px;

    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range_toggle:hover{
    background: #ababab;
    border: 9px solid #ffffff;
    top: -10px;
}
.range_toggle_min{  left: 0;}
.range_toggle_max{  left: 80%;}

.btn_transparent{

    display: block;
    margin: 0;
    margin-left: 85px;
    padding: 6px 33px;

    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: -0.8px;

    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}
.btn_transparent:hover{  color: #000000; background: #ffffff;}
