body {
    min-width: 1200px;

    margin: 0;
    padding: 0;


    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;

    color: #000000;
    text-transform: uppercase;
    text-align: center;

    background-color: #ffffff;
    background-image:url("../img/background.jpg");
    background-position:top -27px center;
    background-repeat: no-repeat;


}
/* для изображений */
img{
    max-width: 100%;
    height: auto;
}

.visually_hidden:not(:focus):not(:active),
input[type="checkbox"].visually_hidden,
input[type="radio"].visually_hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* меню */
/* хедер уже является блоком, флексом */
.main_header{
/* стили для текста */
    margin: 0;
    padding: 0;

    font-size: 16px;
    line-height: 26px;

    margin-bottom: 452px;
}
.main_navigation{
    display: flex;

    flex-direction: column;
    flex-wrap: wrap;
/* выравнивание по побочной оси */
}
.site_navigation{
    position: relative;

    margin: 0;
    padding: 0;

    list-style: none;
    background:white;
/*  делаем флексом */
    display: flex;
    flex-wrap: wrap;
}
/* добавляем псевдоэлементом welcome */
.main .site_navigation::after{
    content: "";
    position: absolute;

    top: 132px;
    left: 371px;
    width: 459px;
    height: 353px;

    background-image: url("../img/welcome.svg");
}
.site_navigation li{
  width: 239px;}
  /*  нужно?*/
.site_navigation li:nth-of-type(3){
    width: 244px;}
/* для ссылок в навигации */
.site_navigation a{
    display: block;

    margin: 0;
    padding: 15px 0;

    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    text-decoration: none;
  }
  /* фокус */
.site_navigation a:hover{ color: #81b3d2;}
.site_navigation a:focus{ color: rgba(0, 0, 0, 0.3);}
.site_navigation a.check{ color: #766357;}

.main_header_logo a{
    position: absolute;
    content: "";

    margin: 0;
    padding: 0;
    width: 244px;
}
/*  контейнер для мейн*/
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}
/*  вступление о седоне*/
.introduction_flex {
/* задаем флекс по коллоннам*/
    display: flex;
    flex-direction: column;
    /*  обнуляем отступы*/
    margin: 0;
    padding: 0;
    /*  маска*/
    background:  url("../img/polygon.svg") no-repeat;
    background-position: top top;
}
.introduction_flex_block{
    background-color: white;
    margin-top: 57px;
}
/*  стили для заголовка вступление*/
.introduction_flex h3{
    font-size: 21px;
    line-height: 1.24;
    margin: 0;

    text-align: center;
    padding-top: 61px;
}
/*  стили для p вступление*/
.introduction_flex p{
    margin: 0;
    padding: 0;

    line-height: 1.86;
    padding-top:  26px;
    margin-bottom: 52px;
}
/*  разделили на блоки*/
/*  для 1го пункта*/
/*  флекс для всех причин*/
.reasons_item{
    margin: 0;
    padding: 0;

    display: flex;
     justify-content: space-between;
}

/*  для 3х пунктов*/
.features_list{
    display: flex;

    margin: 0;
    padding: 0;

    list-style: none;
}
/*  для трех значков*/
.feature_item{
    margin: 0;
    padding: 0;

    padding-top: 60px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 400px;
}

.feature_item:nth-of-type(1) p{padding: 0 50px;}
.feature_item:nth-of-type(2) p{padding: 0 50px;}
.feature_item:nth-of-type(3) p{padding: 0 40px;}

.feature_item h3{
    margin: 0;
    padding: 0;
    font-size: 21px;
    line-height: 21px;
    margin-top: 29px;
    margin-bottom: 22px;
}
.feature_item p{
    margin: 0;
    padding: 0;
    line-height: 1.5;
    margin-bottom: 83px;
}
.flex_text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 400px;
}
/* загадовок в синем блоке */
.flex_text h3{
    margin: 0;
    padding: 0;

    font-size: 21px;
    line-height: 21px;
}
.flex_text p{
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

.icon{display: inline-block;}
.icon_food{
    background: url("../img/icon_mac.svg") no-repeat;
    width: 74px;
    height: 70px;
}
.icon_home{
    background: url("../img/icon_home.svg") no-repeat;
    width: 75px;
    height: 72px;
}
.icon_souvenir{
    background: url("../img/icon_present.svg") no-repeat;
    width: 64px;
    height: 76px;
}
/* голубой блок */
.flex_text_blue{
    color:white;
    padding-top: 46px;
    padding-bottom: 60px;
    background-color: #81b3d2;
}
/* перевернули фото с мостом */
.reasons_item_bridge{flex-direction: row-reverse;}
.flex_text_blue_img{margin-bottom: -7px;}

.flex_text_gray{
    min-height: 256px;
    background-color: #eeeeee;

}


/* выоавнивание загаловков в серых блоках */
.reasons_item_square h3{padding: 0 100px;}
.reasons_item_road h3{padding: 0 120px;}
.reasons_item_tourist h3{padding: 0 120px;}
/* выоавнивание p в серых блоках */
.reasons_item_square p{padding: 0 75px;}
.reasons_item_road p{padding: 0 65px;}
.reasons_item_tourist p{padding: 0 75px;}


.flex_text_gray h3{
    padding-top: 48px;
}
.flex_text_gray p{
    padding-bottom: 63px;
}
/*для отступоа у серых загалоаков */

.search_flex{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.search_flex h3{
    font-size: 30px;
    line-height: 36px;
    margin: 0;
    padding: 0;
    padding-top: 50px;
    margin-bottom: 12px;
}
.search_flex p{margin-bottom: 47px;}
.modal_map{
    display: flex;
    justify-content: center;

    background-image: url('../img/map.jpg');
    width: 1200px;
    height: 594px;
}

/*  коричневая кнопка*/
.button_search_interactive{
    margin: 0;
    padding: 30px 0;
    width: 568px;

    font-size: 21px;
    line-height: 26px;
    background-color: #766357;
    border: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}
/* наведение */
.button_search_interactive:hover{ background-color: #604e43;}
/*  щелчек */
.button_search_interactive:focus{ background-color:#503e33;color:rgba(255, 255, 255, 0.3);}
/* для модалки */
.modal {
    position:absolute;
    content: "";

    background-color: white;
}
.modal_search{
    left:50%;
    margin-left: -285px;
    width: 458px;
    padding: 55px;

}
.search_form{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: bold;
    line-height: 26px;
    text-transform: uppercase;
}

.search_form_block{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search_form .button_search{
    margin-top: 10px;
    padding: 18px 0;
    width: 458px;

    border: none;
    background-color: #81b3d2;

    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    color: white;
    text-transform: uppercase;

}
.search_form .button_search:hover{background-color: #669ec0;}
.search_form .button_search:focus{background-color:#5496bd;color:rgba(255, 255, 255, 0.3);}

.search_form p {
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}
.search_form input[type="text"] {
    margin: 0;
    padding: 6px 12px;

    box-sizing: border-box;
    width: 346px;
    height: 38px;

    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;

    background-color: #f2f2f2;
    border: none;
}
.amount_people{
    display: flex;
    align-items: center;
}
.amount_people input[type="text"]{
    width: 38px;
    height: 38;
    text-align: center;
}
.adult label{ margin-right: 41px;}
.children label{  margin-right: 27px;}

.amount_people span{
    display:inline-block;
    width:38px;
    height:38px;
    font-size: 0;
    background-color: #f2f2f2;
}
.amount{cursor: pointer;}
.amount.minus{position: relative;}
.amount.plus{position: relative;}

.amount::after{
    position: absolute;
    content: "";
    width: 12px;
    height: 3px;
    background-color: #a9a9a9;
    z-index: 3;
    top:50%;
    margin-top: -1px;
    left:50%;
    margin-left: -6px;
}
.amount.plus::before{
    position: absolute;
    content: "";
    width: 12px;
    height: 3px;
    background-color: #a9a9a9;
    z-index: 3;
    transform: rotate(90deg);
    top:50%;
    margin-top: -1px;
    left:50%;
    margin-left: -6px;
}
.amount:focus,
.amount:hover{background-color: #FAEBD7;}

.main_footer.container{
    display: flex;
    justify-content: space-between;

    align-items: center;

    margin-top: -121px;
    min-height: 120px;
    background-color: white;
    opacity: 0.8;
/*  как сделать прозрачано*/
}

.footer_hashtag{
    margin: 0;
    padding: 0;
    font-size: 21px;
    line-height: 1.24;

    font-weight: bold;
    margin-left: 132px;
}

.social_button {
    display: inline-block;
    width: 46px;
    height: 48px;
    margin-right: 6px;
    vertical-align: middle;

}
/*  при наведении*/
.social_button:hover{
  background-color:#669ec0;
}
.social_button:focus{
  background-color:#5496bd;
  /* color:rgba(255, 255, 255, 0.3); */
}
.social_button_fb{
    background: #81b3d2 url("../img/icon_fb.svg") no-repeat;
    background-position: 17px 13px;
}
.social_button_tw{
    background: #81b3d2 url("../img/icon_tw.svg") no-repeat;
    background-position: 15px 14px;
}
.social_button_youtube{
    background: #81b3d2 url("../img/icon_youtube.svg") no-repeat;
    background-position: 13px 13px;
}

.footer_copyright{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    margin-right: 101px;
}

.html_academy{
    display: inline-block;
    margin-left: 8px;
    width: 115px;
    height: 41px;

    align-items: center;
    background: url("../img/logo_name.svg") no-repeat;
    fill: #231f20;
}
/* .html_academy:hover{
  background:  url("../img/logo_name.svg") no-repeat;s
  fill: red;
} */

/* _____________________________________ */
/* +++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++ */
/* _____________________________________ */
.hotels_body{
    min-width: 1200px;

    margin: 0;
    padding: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    text-transform: uppercase;
    text-align: center;

    background-color: #ffffff;
    background-image:url("../img/hotels_background.jpg");
    background-position:top -273px center;
    background-repeat: no-repeat;
}

.hotels_body .main_header{  margin-bottom: 31px;}

.filter_hotels{
    display: flex;
    flex-direction: row;
    padding-left:72px;
}
.filter_hotels div:first-child{ margin-right: 100px;}

.filter_hotels h3{
    margin: 0;
    padding: 0;
    margin-bottom: 31px;

    color:white;
    font-size: 16px;
    font-weight: bold;
    line-height: 21px;
}
.filter_option label{
    margin: 0;
    padding: 0;
    color:white;
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
}
.filter_option {
    margin: 0;
    padding: 0;
    position: relative;
    list-style: none;
    text-align: left;
    margin-bottom: 36px;
    margin-left: 36px;
}

.filter_hotels ul{
    margin: 0;
    padding: 0;
}
.filter_input_checkbox + label::before {
    content: "";
    position: absolute;

    width: 19px;
    height: 19px;
  /* 17+21=38 */
    left: -38px;
    top: 0;
    border-radius: 13%;
    border: 2px solid #ffffff;
}

.filter_input_checkbox:checked + label::before {
    content: "";
    position: absolute;

    width: 19px;
    height: 19px;

    left: -38px;
    top: 0;
    border: none;
}

.filter_input_checkbox:checked + label::after {
    content: "";
    position: absolute;
    z-index: 10;

    width: 25px;
    height: 27px;

    top: 0;
    left:-38px;

    border:none;
    background-image: url("../img/checkbox_on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

/* начало для сортировки */
.catalog{
    display: flex;
    background-color: white;
    width: 1200px;
}
/*  для списка отелей*/
.catalog_list{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 1200px;
}
/* для каждого пункта */
.catalog_item{
    display: flex;
    justify-content: space-between;
    padding: 30px 72px;
}
/*  правая часть*/
.catalog_item_about{display: flex;}
/*  для звезд чтоб прижались*/
.catalog_item_rating{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;

}

.rating{
    margin: 0;
    padding: 0;
    padding: 3px 17px;

    color:#666666;
    font-size: 14px;
    line-height: 21px;

    background-color: #f2f2f2;
}
/* чтобы текст выровнять */
.catalog_item_text{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items:flex-start;

    margin-left: 30px;
}
/*  параметры*/
.catalog_item_text h3{
    margin: 0;
    padding: 0;
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 11px;
}
.catalog_item_text p{
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 21px;
}

.catalog_item_about p{
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 21px;
}

.catalog_item span{
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 21px;
}

/*  отступ кнопки*/
.catalog_item_text p:nth-of-type(2){
  padding-top: 10px;
}

/* кнопки */
.button_info{
    background-color: #81b3d2;
    padding: 3px 17px;
    color:white;
    text-decoration: none;

}
.button_book{
    background-color: #766357;
    color:white;
    text-decoration: none;
    padding: 3px 17px;
}

.catalog_item{
    border-bottom: 1px solid #c7c7c7;
}
.catalog{
    margin-bottom: 120px;
}

.button_star{
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;

    width: 18px;
    height: 17px;
    cursor: pointer;

    background-image: url("../img/star.svg");
 }
/* .catalog_item_text_star span{

  background-image: url("../img/star.svg");

  background-repeat: repeat-x ;
  background-position: 0 0;
  width: 78px;
} */

.sort{
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-bottom: 1px solid #c7c7c7;
    font-weight: bold;
}
.sort_left{ display: flex;}

.sort h3{
    margin: 0;
    padding: 0;

    font-size: 21px;
    line-height: 26px;
    margin-top: 31px;
    margin-left: 72px;
    margin-bottom: 33px;
}
.sort p{
    margin: 0;
    padding: 0;
    margin-top: 31px;
    margin-left: 49px;

}
.sort_ascending{ position: relative;}
.sort_descending{ position: relative;}
.sort_right{  margin-right: 96px;}

.sort_ascending::after{
    position: absolute;
    content:"";
    right:-12px;
    width:11px;
    height:10px;
    background-image: url("../img/icon_down.svg");
    /* fill:yellow; */
}
.sort_descending::after{
    position: absolute;
    content:"";
    right:10px;

    width:11px;
    height:10px;
    /* fill:yellow; */
    background-image: url("../img/icon_up.svg");
}
.sort_list{
    margin: 0;
    padding: 0;
    margin-top: 31px;
    margin-left: 40px;
    display: flex;
    list-style: none;

    font-weight: bold;
}
.sort_list li{
    margin-right: 33px;

}
.sort_list .chek{
    color:#81b3d2;
    text-decoration: none;
}
.sort_list a{
    color:rgba(0, 0, 0, 0.3);
    text-decoration-style: dotted;
    text-decoration-color: #81b3d2;
  }
  .sort_list a:focus{
      color:#000000;
        text-decoration: none;
    }
/*  для сотрировки*/
.filter_range {
    width: 314px;
    margin-left: 394px;

    color: #ffffff;
    text-transform: uppercase;
}

.filter_range_title {
  margin: 0;
  padding: 0;
  margin-bottom: 9px;

  text-align: left;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}

.price_controls{
    position: relative;

    height: 36px;
    margin-bottom: 20px;

    font-size: 0;

    border: 2px solid #ffffff;
    border-radius: 2px;
}

.price_controls::after {

    position: absolute;
    content: "";
    top: 50%;
    left: 50%;

    width: 2px;
    height: 22px;

    background: #ffffff;
    transform: translate(-50%, -50%);
}

.price_controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price_controls .min_price,
.price_controls .max_price {
  width: 90px;
  padding-left: 65px;
}

.price_controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range_controls {
  position: relative;

  margin-bottom: 32px;
}

.range_controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range_controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range_toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range_toggle:hover {
  background: #1c4f80;
}

.range_toggle_min {
  left: 0;
}
.range_toggle_max {
  left: 80%;
}
.btn_transparent {
    display: block;
    margin: 0 auto;
    padding: 6px 35px;

    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;

    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}

.btn_transparent:hover {
  color: #000000;
  background: #ffffff;
}
