
body {
    margin: 0;
    padding: 0;

    font-family: PTSans-Bold, Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    text-transform: uppercase;
    text-align: center;

    background-color: #ffffff;
    background-image:
    url("img/background.jpg");

    background-position: top center;
    background-repeat: no-repeat;
}
/* меню */

 .main_navigation a{text-decoration: none;}
p{
    font-size: 14px;
    line-height: 26px;
    color:#333333;
}
.site_navigation li:hover,
.site_navigation li:focus{
    background-color: #edc497;
}
/* преимущества*/
h3{
    font-size: 21px;
    line-height: 21px;
}
.introduction h3{
    margin-top: 625px;
    line-height: 1.24;
}
.visually_hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

/* стили сетки и все про сетку */
html,
body {
  min-width: 1200px;
  min-height: 1750px;
}

/*   хедкр сам является блоком*/
.main_header{
    margin-bottom: 60px;
}
.main_navigation{
    /* сделали флексом по колоннам */
    display: flex;
    flex-direction: column;
    /* выоавнивание по побочной оси */
    align-items: center;

    margin-bottom: 800px;

    /* параметры для текста */
    font-size: 16px;
    line-height: 26px;
    color: #000000;

    background-color: transparent;
}
.main_navigation_wrapper {
  width: 100%;
  background-color: white;

}

.main_navigation_wrapper .container{
  display: flex;
  justify-content: space-between;
}

.site_navigation{

  list-style: none;
  margin: 0;
  padding: 0;
}


.site_navigation {
  /*  делаем флекс для пунктов меню, в одной строке*/
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 1200px;
    /* не знаю как, не задавать высоту */
    height: 56px;
    background-color: #ffffff;

}
/*  как делать отступы логотипу?*/
.site_navigation .main_header_logo{
  padding: 0;
}
.site_navigation a{
    display: block;
    padding:16px 72px;

    vertical-align: middle;
    color: #000000;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}


.introduction_flex{
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    font-size: 21px;
    margin-bottom: 56px;
}

.reasons_item{
    display: flex;
    justify-content: space-between;
}
.reasons_item.town{
    margin-bottom: 164px;
}

.features_list{
    display: flex;
    justify-content: space-between;
    list-style: none;
}


/* выравнивание для бургер домика подарка */
/* .feature_item:nth-of-type(1) p{
  margin-left: 73px;
  margin-right: 75px;
}
.feature_item:nth-of-type(2) p{
  margin-left: 52px;
  margin-right: 58px;
}
.feature_item:nth-of-type(3) p{
  margin-left: 64px;
  margin-right: 63px;
} */
.reasons_item.bridge{
  flex-direction:row-reverse;
}
/* для трех серых блоков */
    /* для главного в котором есть 3 */
.reasons_item_gray{
  display: flex;
  flex-direction:row;
  justify-content: space-between;
}
.flex_text{
    width: 400px;
    height: 256px;
}

.flex_text.blue{  background-color: #81b3d2; color:white;}
.flex_text.gray{  background-color: #eeeeee;}

/* окошко поиска*/
.search{
  display: flex;
  flex-direction:column;

}
.search_flex{
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;

  font-size: 21px;
  margin-bottom: 56px;

}
.search_flex_form{
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.main_footer {
   padding: 60px 0;
   margin-top: 65px;
}
.main_footer{
  display: flex;
  flex-direction:row;
}
.footer_hashtag{
  width: 400px;
  margin: 0;
  margin-left: auto;

}
.footer_social {
  width: 400px;
}
.footer_copyright {
  width: 400px;
  margin: 0;
  margin-left: auto;
}
